accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
av==16.1.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
datasets==4.5.0
diffusers @ git+https://github.com/huggingface/diffusers@ec376293714f269947f6d9d8a572bd73040bc1a0
dill==0.4.0
docutils==0.22.4
fastapi==0.128.0
filelock==3.20.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.10.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==1.3.2
id==1.5.0
idna==3.11
importlib-metadata==8.7.1
jaraco-classes==3.4.0
jaraco-context==6.1.0
jaraco-functools==4.4.0
jinja2==3.1.6
keyring==25.7.0
kiwisolver==1.4.10rc0
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mflux==0.15.4
mlx==0.30.3
mlx-lm==0.30.4
mlx-metal==0.30.3
mlx-vlm==0.3.9
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
networkx==3.6.1
nh3==0.3.2
numpy==2.4.1
opencv-python==4.13.0.90
packaging==25.0
pandas==3.0.0
piexif==1.1.3
pillow==10.4.0
platformdirs==4.5.1
propcache==0.4.1
protobuf==6.33.4
psutil==7.2.1
pyarrow==23.0.0
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pyyaml==6.0.3
qwen-vl-utils==0.0.14
readme-renderer==44.0
regex==2026.1.15
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
safetensors==0.7.0
sdnq @ git+https://github.com/Disty0/sdnq.git@5ffd954715c3bacea960776dc7aa1c9871626aea
sentencepiece==0.2.1
setuptools==80.10.1
shellingham==1.5.4
six==1.17.0
soundfile==0.13.1
starlette==0.50.0
sympy==1.14.0
tokenizers==0.22.2
toml==0.10.2
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
transformers==5.0.0rc1
twine==6.2.0
typer-slim==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uvicorn==0.40.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
